.table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    text-align: center;
    width: 80%;
    margin: auto;
}

.version {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: smaller;
    border-collapse: collapse;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

form input[type="submit"] {
    user-select: text;
}

th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
}

td {
    padding: 10px;
}

tr:nth-child(odd) {
    background: white;
}

tr:nth-child(even) {
    background: #e9ecef;
}

.text-link {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    color:black;
}

.text-grey {
    color: #6d757d;
}

.prompt {
    font-size: 0.8rem;
    vertical-align: top;
    border-radius: 50%;
    background: #8FD4C1;
    padding: 2px 6px;
}

.div-btn {
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
}

.div-btn-submit {
    padding-top: 10px;
    text-align: center;

}

.buttonBlack {
    padding-top: 10px;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    background-color: white;
    border: 2px solid #343a40;
}

caption {
    padding: 10px;
    color: white;
    background: #8FD4C1;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

.form-control {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    width: 80%;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    margin: 0% 5% 0% 5%;

    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    text-align: center;
}

.form-addSrv {
    width: 90%;
    text-align: left;
}

.checkboxes ul, .checkboxes li {
    margin: 0;
    padding: 0;
    float: left;
}

.checkboxes li {
    display: inline-block;
    width: 30%;
}

.scroll {
    display: block;
    height: 200px;
    border: 1px solid black;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

input[type='checkbox'].checkboxes:checked + label > i:first-of-type,
input[type='checkbox'].checkboxes + label > i:last-of-type {
    display: none;
}

input[type='checkbox'].checkboxes:checked + label > i:last-of-type {
    display: inline-block;
}