<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Stub-edit</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <script src="/jquery-3.5.1.min.js"></script>
    <script src="/jquery.inputmask.js"></script>
    <script src="/inputmask.date.extensions.js"></script>
    <link href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/style.css" rel="stylesheet"/>
    <title>Изменить значение задержки</title>
</head>

<body class="py-4">
<div class="delay-table">
    <form action="#" th:action="@{/delay/save}" th:object="${form}">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Сервис</th>
                <th>АС</th>
                <th>текущая задержка в мс</th>
                <th>Timeout</th>
                <th>Задержка для Scheduler</th>
                <th>Scheduler Delay</th>
                <th>Доступность</th>
                <th>Scheduler выключения</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="service, itemStat : ${form.viewService}">
                <!--    || нужны для заключения в текст выражения без литералов по сути на бек передается viewData[0].name,
                        чтобы разделить каждый input и вернуть обратно-->
                <td>
                    <input hidden="hidden" th:name="|viewData[${itemStat.index}].name|"
                           th:value="${service.getName()}"/>
                    <span th:text="${service.getName()}"/>
                </td>
                <td><span th:text="${service.systemName}">АС</span></td>
                <td>
                    <input type="number" id="form12" class="form-control" min="0"
                           th:name="|viewData[${itemStat.index}].currentDelay|"
                           th:value="${service.getCurrentDelay()}"/>
                </td>
                <td>
                    <input hidden="hidden" th:name="|viewData[${itemStat.index}].timeout|"
                           th:value="${service.getTimeout()}"/>
                    <span th:text="${service.getTimeout()}"/>
                </td>
                <td>
                    <input type="number" class="form-control" min="0"
                           th:name="|viewData[${itemStat.index}].delayForScheduler|"
                           th:value="${service.getDelayForScheduler()}"/>
                </td>
                <td>
                    <input type="text" class="form-control date-format" min="0"
                           th:name="|viewData[${itemStat.index}].schedulerDelay|"
                           th:value="${service.getSchedulerDelay()}"/>
                </td>
                <td>
                    <input type="checkbox" th:name="|viewData[${itemStat.index}].isAvailable|"
                           th:checked="${service.getIsAvailable()}"/>
                </td>
                <td>
                    <input type="text" class="form-control date-format" min="0"
                           th:name="|viewData[${itemStat.index}].schedulerAvailability|"
                           th:value="${service.getSchedulerAvailability()}"/>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="div-btn-submit">
            <input class="buttonBlack" type="submit"/>
        </div>
    </form>
</div>
</body>

<script>
    $('.date-format').inputmask('datetime', {
        mask: "1.2.y h:s",
        alias: "dd.mm.yyyy",
        placeholder: "ДД.ММ.ГГГГ ЧЧ:ММ",
        separator: '.',
        hourFormat: "24",
        leapday: "29.02."
    });
</script>

</html>