<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>New service</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script src="/jquery-3.5.1.min.js"></script>
    <script src="/jquery.inputmask.js"></script>
    <script src="/inputmask.date.extensions.js"></script>
    <link href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/style.css" rel="stylesheet"/>
</head>

<body class="py-4">
<div class="delay-table">
    <form id='myForm' action="#" th:object="${viewServiceNewData}" method="post">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th class="col-3">Сервис - название файла и эндпоинта</th>
                <th>Текст файла и параметры</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="text" class="form-control form-addSrv"
                           th:name="ServiceName"
                           th:value="${viewServiceNewData.getServiceName()}" placeholder='NewService'/>

                    <div class="text-grey">
                        Чтобы отредактировать текущий текст сервиса - введите только название
                        нужного сервиса и нажмите кнопку "Хочу текст файла".
                    </div>
                </td>
                <td>
                    Ваш response:
                    <textarea class="form-control form-addSrv" rows="16"
                              th:name="Content"
                              th:text="${viewServiceNewData.getContent()}" placeholder='{
                                "rqUid": "__rqUid__",
                                "rqTm": "__rqTm__",
                                "operUid": "ccc147cfbbe14934a2b470bb0afa20f4",
                                "spName": "urn: sbrfsystems: 99-ufs",
                                "systemId": "urn: sbrfsystems: 99-pprb",
                                "status": {
                                    "statusCode": 0,
                                    "statusDesc": "Успешно создан драфт договора. "
                                }
                            }
                            /* Обращайте внимание на имя параметров типа __rqUid__ - РЕГИСТР ДОЛЖЕН СООТВЕТСТВОВАТЬ ПОЛЮ/TЭГУ.
                            '></textarea>
                    Параметры для вашего сервиса:
                    <textarea class="form-control form-addSrv" rows="9"
                              th:name="Params"
                              th:text="${viewServiceNewData.getParams()}" placeholder='
                              {имя сервиса}.type={type сервиса}
                              {имя сервиса}.delay={delay сервиса}
                              {имя сервиса}.timeout={timeout сервиса}
                              {имя сервиса}.systemName={АС сервиса}
                              {имя сервиса}.param.name={имя параметра для разных ответов}
                              {имя сервиса}.param.value={значение параметра}
                              {имя сервиса}.param.responseNum={номер ответа, если в запросе нужный параметр}
                              {имя сервиса}.endpoint={endpoint сервиса}
                              {имя сервиса}.threshold={threshold для сервиса}'
                    ></textarea>
                    <input class="btnCopy buttonBlack" value="Скопировать параметры"></input>
            </tr>
            </tbody>
        </table>
        <div class="div-btn-submit">
            <input class="buttonBlack" type="submit" formaction="/services/save" name="save_btn" id="save_btn" value="Сохранить"/>
            <input class="buttonBlack" type="submit" formaction="/services/update" name="update_btn" id="update_btn" value="Хочу текст файла"/>
        </div>
    </form>
</div>
</body>
<script>
    document.querySelector(".btnCopy").onclick = function () {
    let params = `{имя сервиса}.type={type сервиса}
{имя сервиса}.delay={delay сервиса}
{имя сервиса}.timeout={timeout сервиса}
{имя сервиса}.systemName={АС сервиса}
{имя сервиса}.param.name={имя параметра для разных ответов}
{имя сервиса}.param.value={значение параметра}
{имя сервиса}.param.responseNum={номер ответа, если в запросе нужный параметр}
{имя сервиса}.endpoint={endpoint сервиса}
{имя сервиса}.threshold={threshold для сервиса}`

    if (document.querySelector('input[name="ServiceName"]').value !== '') {
        params = params.replaceAll('{имя сервиса}', document.querySelector('input[name="ServiceName"]').value)
    }

    navigator.clipboard.writeText(params)
}
</script>
</html>